.signup-container {
 
    height: 100vh; 
    margin-top: -50px;
    /* Set the container height to the full viewport height */
    overflow-y: auto; /* Allow vertical scrolling if the content overflows */
    background-color: #f9f9f9; /* Optional: Set a background color for the container */
  }
  