/* Wishlist.css */

/* ... Your existing styles ... */

/* Wishlist.css */

/* ... Your existing styles ... */

.wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  margin-top: 20px; /* Adjust this value to control the gap between navbar and wishlist */
  padding: 0;
}

.wishlist-header {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

/* ... Rest of your existing CSS ... */


/* ... Rest of your existing CSS ... */

.wishlist-card {
  width: 311px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}

.wishlist-card-img-top {
  object-fit: cover;
  height: 242px;
}

.wishlist-card-body {
  padding: 20px;
}

.wishlist-card-title {
  font-size: 20px;
  font-weight: bold;
}

.wishlist-card-text {
  font-size: 10px;
  color: #555;
}

.wishlist-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.wishlist-button {
  flex: 1;
  margin: 0 5px;
}

.wishlist-card-body .product-button.black-button {
  background-color: #142c64;
  color: white;
  border: none;
  padding: 5px 15px; /* Adjust button padding */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.wishlist-card-body .product-button.black-button1 {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 5px 15px; /* Adjust button padding */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

/* Apply hover styles */
.wishlist-card-body .product-button.black-button:hover {
  background-color: #014b16;
}

.wishlist-card-body .product-button.black-button1:hover {
  background-color: red;
}
